<ul>
  {{#each review}}
  <li>
    <p>Reviews: {{reviews}}</p>
    <p>Liked Books: {{books}}</p>
  </li>
  {{/each}}
</ul>

<!--- change this --->
<ul>
  {{#each book}}
  {{#if reviewed}}
  <li>
    <p>Title: {{title}}</p>
    <p>Author: {{author}}</p>
    <p>Review: {{reviews}}</p>
  </li>
  {{/if}}
  {{/each}}
</ul>

