{{#if loggedIn}}
<section class='section'>
<ol class="book-list">
  <li>
    <article class="book">
      <div class="review">This should be updated to load a list of all books, have a search bar, etc.
        {{!-- <a href="{{review_url}}" target="_blank">{{title}}</a>
        <span>({{review_url}})</span> --}}
      </div>
      {{!-- <div class="meta">
        {{vote_count}} point(s) by {{user.username}} on
        {{created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
      </div> --}}
    </article>
  </li>
</ol>
</section>
{{else}}
<section class='section'>
  <article class='intro'>It looks like you're not logged in! 
  </article>
  <form class="control login-form">
        <button class="button p-2 m-2" type="submit"><a href="/login">login</a></button>
        <button class="button p-2 m-2" type="submit"><a href="/signup">sign up</a></button>
    </form>
</section>
{{/if}}